.introduction {
    background-color: var(--color-grey-light-2);
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: repeat(2, 1fr);

    &__title {
        grid-column: 1 / -1;
        
        text-align: center;
        padding: 3rem;
    }

    &__content {
        padding: 5rem 5vw;
        

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    &__images {
        // padding: 2rem;
    }
}

.composition {
    position: relative;

    &__photo {
        width: 45%;
        box-shadow: var(--shadow-light);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 4rem;
            top: 3rem;
        }

        &--p2 {
            right: 13%;
            top: 7rem;
        }

        &--p3 {
            left: 20%;
            top: 13rem;
        }

        &:hover {
            outline: 1.5rem solid var(--color-primary);
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: var(--shadow-light);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
}